<header>

    <a href="/">
        <div id="logo">
            <h1>Pet<span class="text-info">Base</span></h1>
        </div>
    </a>

    <div id="topSearchContainer">
        <input id="topSearchBar" type="text" placeholder="Search...">
    </div>

    <div id="logoutBtnContainer">
        <button type="submit" class="btn btn-info" id="logoutBtn" onclick="window.location = '/logout'">Log Out</button>
    </div>

</header>

<body>

  <div id="content">
    <img id="dp" src="{{dpURL}}" alt="Display Picture"/>

    <div id="msgContainer">
        <div><input id="msgSubject" type=text placeholder="Subject"></div>
        <div><textarea id="msgBody"></textarea></div>
        <div><input id="msgBtn" class="btn btn-info" type=submit value="Send"></div>
    </div>
  </div>

</body>
