<header>

    <div id="logo">
        <h1>Pet<span class="text-info">Base</span></h1>
    </div>

    <div class="logInField">
        <div id="logInContent">

            <form id="logInForm" action="/">
                <label for="email">E-mail:</label>
                <input type="email" name="email" required/>

                <label for="password">Password:</label>
                <input type="password" name="password" required/>

                <button id="logInBtn" type="submit" class="btn btn-info">Log In</button>   
            </form>

        </div>     
    </div>

</header>

<div id="content">

    <div id="landingImg" class="col-sm-6">
        <img src="imgs/corgi.png" alt="Cute Corgi"/>
    </div>

    <div id="signUpField" class="col-sm-6">

        <div id="message">
            <h1>Join the world's largest community for pet-knowlege sharing</h1>
        </div>

        <div id="signUpContent">

            <form id="signUpForm" action="/">
                <label for="fname">First Name</label>
                <input type="text" name="fname" required/>

                <label for="lname">Last Name</label>
                <input type="text" name="lname" required/>

                <label for="email">Email</label>
                <input type="email" name="email" required/>

                <label for="password">Password</label>
                <input type="password" name="password" required/>

                <label for="confirmPassw">Confirm Password</label>
                <input type="password" name="confirmPass" required/>

                <button id="signUpBtn" type="submit" class="btn btn-info">Sign Up</button>
            </form>

        </div>
    </div>

</div>