<header>

    <a href="/">
        <div id="logo">
            <h1>Pet<span class="text-info">Base</span></h1>
        </div>
    </a>

</header>

<div id="content">

    <div class="col-sm-6">
        <h1 id="message">Let us know a little more about you!</h1>
    </div>

    <div id="registrationField" class="col-sm-6">

        <form method="post" action="/edit-profile" id="registrationForm">

            <label for="dp">Display Picture</label>
            <input type="text" name="image_url" placeholder="Image URL"/>

            <label for="bio">Profile Bio</label>
            <textarea rows="6" name="desc" placeholder="Ex: what kind of pet do you have?" id="bioTA" required></textarea>

            <label for="country">Country</label>
            <input type="text" name="country" placeholder="Ex: Canada" required/>

            <label for="dob">Birthdate</label>
            <input type="date" name="dob" required/>

            <button type="submit" id="compRegBtn" class="btn btn-info">Complete Registration</button>

        </form>

    </div>

</div>